.main-bg-color
  .mypage.mx-auto
    = render 'commons/mypage_left'
    .mypage-right
      .mypage-right-list-title
        関連ユーザー一覧
      .tab
        .d-flex
          = render 'commons/profile_tub', path_left: followinglist_path, path_right: followerlist_path, tab_left: 'フォロー', tab_right: 'フォロワー' 
        - @users.each do |user|
          = render 'commons/follow_list', user: user
        