.main-bg-color
  .mypage.mx-auto
    = render 'commons/user_page_left', user: current_user, name: 'マイ', account: profile_path, article: myarticle_path, like: favorite_path, timeline: timeline_path, buy: buy_path, follow: followinglist_path, follower: followerlist_path
    .mypage-right
      .mypage-right-list-title
        関連ユーザー一覧
      .tab
        .d-flex
          = render 'commons/user_page_tub', path_left: followinglist_path, path_right: followerlist_path, tab_left: 'フォロー', tab_right: 'フォロワー' 
        - @users.each do |user|
          = render 'commons/follow_list', user: user
        