- title = '購入リスト'
- count = '購入リスト数'
- none = '購入リストはありません'
.main-bg-color
  .mypage.mx-auto
    = render 'commons/mypage_left'
    .mypage-right
      = render 'commons/mypage_related_article', articles: @articles, title: title, count: count, none: none