- title = 'フォローした人の投稿'
- count = '投稿数'
- none = 'フォロー中の人の投稿はありません'
.main-bg-color
  .mypage.mx-auto
    = render 'commons/mypage_left'
    .mypage-right
      = render 'commons/mypage_related_article', articles: @articles, title: title, count: count, none: none