.main-bg-color
  .mypage.mx-auto
    = render 'commons/user_page_left', user: current_user, name: 'マイ', account: profile_path, article: myarticle_path, like: favorite_path, timeline: timeline_path, buy: buy_path, follow: followinglist_path, follower: followerlist_path
    .mypage-right
      = render 'commons/related', articles: @articles, title: 'フォローした人の投稿', count: '投稿数', none: 'フォロー中の人の投稿はありません'