$base-bg-color: #F4FAF7;
$text-base-color: #000000;
$main-color: #1B6739;
$btn-bg-color: #95E0A6;
$container-padding: 16px;
$text-base-size: 16px;
$sub-title-size: 18px;
$title-size: 24px;
$border-base: 0.1px solid gray;