.post-count {
  text-align: center;
  font-weight: bold;
}
.profile-avatar {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}
.account-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
// .bg-light.w-75.mx-auto.text-center.border



