@import '~bootstrap-material-design/scss/bootstrap-material-design';
@import '_variables.scss';
@import 'reset';
@import 'header';
@import 'article';
@import 'articles';
@import 'comment';
@import 'account';
@import 'users';
@import 'info';
@import 'sign';
@import 'notification';
@import 'flash';
@import 'hoverdown';
@import 'actiontext';
@import 'rakuten';
@import 'trix/dist/trix.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
body {
  height: 100%;
  font-size: 14px;
  color: black;
  font-family: 'Avenir Next','Avenir','Helvetica Neue','Lato','Segoe UI','Helvetica','Arial','sans-serif';
}
.footer  {
  height: 50px;
  text-align: center;
  background: rgb(255, 255, 255);
}

.footer-img {
  width: 100%;
  height: 250px;
}
.footer-content {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.close-btn{
  display: inline-block;
  border: 1px solid gray;
  font-size: 14px;
  margin: 10px 0;
  padding: 4px 15px;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
// 陸上自衛隊HPより引用


