@import '~bootstrap-material-design/scss/bootstrap-material-design';
@import '_variables.scss';
@import 'reset';
@import 'header';
@import 'article';
@import 'articles';
@import 'comment';
@import 'account';
@import 'users';
@import 'info';
@import 'sign';
@import 'notification';
@import 'flash';
@import 'tabs';
@import 'hoverdown';
@import 'actiontext';
@import 'rakuten';
@import 'trix/dist/trix.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  height: 100%;
  font-size: 14px;
  color: black;
  font-family: 'Avenir Next','Avenir','Helvetica Neue','Lato','Segoe UI','Helvetica','Arial','sans-serif';
}







