@import './variables';
.article-img {
  width: 25px;
}
.main-bg-color {
  background-color:$base-bg-color;
}
.tug-bg {
  background-color: #49D3FF;
} 
.radius-200 {
  border-radius: 200px;
}
.card-radius {
  border-radius: 10px;
}
.box-shadow {
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.base-font {
  font-size: 18px;
}
.sm-font {
  font-size: 14px;
}
.title-size {
  font-size: $title-size;
}
.position {
  position: absolute;
  right: 0px;
}
.index-icon-position {
  position: absolute;
  top: 21px;
  right: 20px;
}
.show-icon-position {
  position: absolute;
  top: 50px;
  right: 0px;
}
.good-img {
  position: absolute;
  bottom: 12px;
  right: 93px;
}
.count-position {
  position: absolute;
  bottom: 12px;
  right: 77px;
}
.post-time {
  position: absolute;
  bottom: 12px;
  right: 15px;
}
.img {
  width: 150px;
}
.post-position {
  position: fixed;
  top: 650px;
  right: 20px
}
.circle{
  width: 125px;
	height: 125px;
	border-radius: 50%;
  background-color: #7FDA71;
}
