@import './variables'; 

.hoverbtn {
    border: none;
  }

.hoverdown {
    position: relative;
    display: inline-block;
  }
  
  .hoverdown-content {
    font-weight: normal;
    display: none;
    left: 0;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: $base-bg-color;
  
  &.mini {
      min-width: 100px;
  }
}
  .hoverdown-content a {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    color: $main-color;
  }
  
  .hoverdown-content a:hover {
    background-color: #D7D7D7;
  }
  
  .hoverdown:hover .hoverdown-content {
    display: block;
  }
  .user-avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}
  .article-avatar {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}
.h-120px {
  min-height: 120px
}
.h-350px {
  height: 350px;
}