@import './variables'; 
  .header-avatar {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.base-bg-color {
  background-color: $base-bg-color;
}
.header-title {
  font-size:  30px;
  color: $main-color;
  &:hover {
    text-decoration: none;
  }
}
.color {
  color: $main-color;
  font-size: $text-base-size;
  &:hover {
    text-decoration: none;
  }
}
.post {
    width: 75px;
    height: 45px;
    margin-left: 5px;
    padding-left: 7px;
    background-color: #88CF98;
    border-radius: 200px;
    border: 0.3px solid $main-color;
    color: $main-color;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
  .dropdown-item:hover {
      background-color: #D7D7D7;
      cursor: pointer;
  }
  // .ransack {
//     margin-left: $header-margin;
//     height: 50%;
//     padding: 7px;
//     border-radius: 400px;
//     border: none;
//     width: 180px;
// }
.search {
  background: $base-bg-color;
  font-size: 14px;
  border: $border-base;
  border-radius: 200px;
  color: $main-color;
  &:hover {
    opacity: 0.6;
  }
}

