.notification {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid gainsboro;
  &-avatar {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:425px) {
      margin: auto;
      text-align: center;
    }
  }
  &-content {
    margin-bottom: 0.8rem;
    @media screen and (max-width:425px) {
      margin: auto;
      margin: 0.25rem 0;
      text-align: center;
      display: block;    
    }
  }
}
