.sign {
  background-color: #F4FAF7;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  height: 900px;
  background-image: url("../../assets/images/wallpaperbetter 3.png");
  background-size: cover;
  @media screen and (max-width:425px) {
    display: block;
    padding: 16px;
  }
  &-left {
    width: 50%;
    font-size: 35px;
    color: #616462;
    font-weight: bold;
    color: black;
    margin: auto;
    @media screen and (max-width:425px) {
      text-align: center;
      margin: 1rem 0;
      width: 90%;
      font-size: 24px;
    }
    &-text {
      text-align: center;
      letter-spacing: 10px;
    }
  }
  &-right {
    text-align: center;
    background-color: #F4FAF7;
    border-radius: 10px;
    margin: auto;
    padding: 1.5rem 1rem;
    @media screen and (max-width:425px) {
      background-color: #f4faf7b6;
    }
  }
  &-title {
    font-size: 24px;
    font-weight: bold;
    color: #00461C;
    margin-bottom: 1.5rem;
  }
  &-btn {
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    padding: 0.25rem 0.5rem;
    &:hover {
      background: rgba(14, 94, 1, 0.6);
      transition: background-color 0.5s;
      color: black;
    }
    @media screen and (max-width:425px) {
      font-size: 14px;
    }
    &:hover {
      opacity: 0.8;
    }
  } 
}
.reg-btn {
  @media screen and (max-width:425px) {
    font-size: 16px;
  }
}