.main-bg-color
  .mypage.mx-auto
    = render 'commons/user_page_left', user: current_user, name: 'マイ', account: profile_path, article: myarticle_path, like: favorite_path, timeline: timeline_path, buy: buy_path, follow: followinglist_path, follower: followerlist_path
    .mypage-right
      .mypage-right-top
        = render 'commons/profile_right'
        .tab
          .d-flex
            = render 'commons/user_page_tub', path_left: notification_path, path_right: myarticle_path, tab_left: 'お知らせ', tab_right: '自分の投稿' 
          .notification_item
            - @notifications.each do |notification|
              = render 'commons/notification', notifications: @notifications, notification: notification 